<% if @activoArduino %>
  <h1> Activó robot</h1>
<% end %>

<h1>Resultados:</h1>
<%@tweets.each do |tweet|%>
  <p>
    <strong>@<%=tweet.user_screen_name%> </strong>
    <%=tweet.tweet_text%>
  </p>

<%end%>
