<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto Esi</title>
    <<h1>Tweets guardados</h1>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      window.setTimeout(function(){ document.location.reload(true); }, 15000);
      </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
